@page "/"
@inject IDialogService DialogService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MudButton Variant="Variant.Text" Color="MudBlazor.Color.Error" OnClick="@ShowDialog">Show Dialog</MudButton>
<MudButton Variant="Variant.Text" Color="MudBlazor.Color.Info" OnClick="@UpdateSeries">Update Series</MudButton>
<MudButton Variant="Variant.Text" Color="MudBlazor.Color.Info" OnClick="@ResetSeries">Reset Series</MudButton>

<ApexChart TItem="MyData" Height="@("100%")" @ref="@chart"
           Title="Sample Data">

    <ApexPointSeries TItem="MyData"
                     Items="ShowData"
                     Name="Net Profit"
                     SeriesType="SeriesType.Bar"
                     XValue="e => e.Category"
                     YValue="e=> e.NetProfit" />

    <ApexPointSeries TItem="MyData"
                     Items="ShowData"
                     Name="Revenue"
                     SeriesType="SeriesType.Bar"
                     XValue="e => e.Category"
                     YValue="e=> e.Revenue" />
</ApexChart>

@code {

    protected ApexChart<MyData> chart;

    private List<MyData> Data { get; set; } = new();
    private List<MyData> ShowData { get; set; } = new();

    protected override void OnInitialized()
    {
        Data.Add(new MyData { Category = "Jan", NetProfit = 12, Revenue = 33 });
        Data.Add(new MyData { Category = "Feb", NetProfit = 43, Revenue = 42 });
        Data.Add(new MyData { Category = "Mar", NetProfit = 11, Revenue = 23 });
        Data.Add(new MyData { Category = "Apr", NetProfit = 112, Revenue = 35 });
        Data.Add(new MyData { Category = "May", NetProfit = 72, Revenue = 73 });
        Data.Add(new MyData { Category = "Jun", NetProfit = 22, Revenue = 12 });
        Data.Add(new MyData { Category = "Jul", NetProfit = 212, Revenue = 122 });
        Data.Add(new MyData { Category = "Aug", NetProfit = 7, Revenue = 73 });
        Data.Add(new MyData { Category = "Sep", NetProfit = 35, Revenue = 52 });
        Data.Add(new MyData { Category = "Oct", NetProfit = 57, Revenue = 3 });
        Data.Add(new MyData { Category = "Nov", NetProfit = 11, Revenue = 61 });
        Data.Add(new MyData { Category = "Dec", NetProfit = 112, Revenue = 90 });

        ShowData = Data;
    }

    private int GetRandom => new Random().Next(1, 12);

    private async Task ShowDialog()
    {
        Update dlg = UpdateSeries;
        var param = new DialogParameters<MyDialog>();
        param.Add(x => x.dlg, dlg);

        var dialog = await DialogService.ShowAsync<MyDialog>("Some Action", param);
        var result = await dialog.Result;
    }

    private async Task UpdateSeries()
    {
        ShowData = Data.Take(GetRandom).ToList();
        await chart.UpdateSeriesAsync(true);
    }

    private async Task ResetSeries()
    {
        ShowData = Data;
        await chart.UpdateSeriesAsync(true);
    }
}